body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(250, 250, 248);
    
}
.container-esquerdo{
    width: 150px;
    height:1200px;
    background-color: black;
    margin-left: 0px;
    z-index: -1;

}
.fundo{
    width: 100%;
    height: 100%;
    display: flex;
   

    
    
}
.encarregada{
    width: 150px;
    height: 150px;
    background-color: brown;
}
.elevador{
    width: 150px;
    height: 150px;
    background-color: gray;
    margin-top: -150px;
    z-index:-1;
    animation-name: elevador;
    animation-duration: 20s;
    animation-iteration-count: infinite;
  
}
.container-direito{
    width: 300px;
    height: 1100px;
    margin-right: 0px;
   background-color: black;
}
.caminhos{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
.caminho-carregador{
    background-image: url(/img/bkg_caminho_carregador.jpg);
    background-size: contain;
    display: flex; 
    height: 150px; 
    z-index: -1;
}
.carregador{
    background-image: url(/img/carregador1.jpg);
    background-size: cover;
    width: 100px;
    height: 70px;
    margin-top: 50px;
    animation-name: funcionarios;
    animation-duration: 50s;
    transform: rotateY(180deg);       
}
.minerio{
    background-image: url(/img/textura1.jpg);
    background-size: contain;
    width: 100%;
    height: 950px;
    background-color: rgb(219, 135, 7);
} 
.galpao{
    height: 150px;
    background-color: bisque;
}
/* parte relacionada ao comportamento aparencia e animação dos mineiros*/

/*Funcionario 1*/
.caminho-funcionario1{
    background-color: black;
    background-size: contain;
    height: 150px;
    border: 1px solid;
    display: flex;   
}
.funcionario1{ 
    background-image: url(/img/mineiro_fundo_transp.png);
    background-size: cover;   
    width: 85px;
    height: 90px;        
    margin-left: 30px;  
    margin-top: 60px;     
    animation-name: funcionarios_mineirando;
    animation-duration: 01s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder; 
       
}
/*Funcionario 2*/
.caminho-funcionario2{  
    background-image: url(/img/textura3.jpg);
    background-size: contain; 
    height: 150px;  
    display: flex; 
}
.funcionario2{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg);
    background-size: cover;   
    width: 45px;
    height: 90px;   
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}
/*Funcionario 3*/
.caminho-funcionario3{  
    background-image: url(/img/textura3.jpg);
    background-size: contain; 
    height: 150px;
    border: 1px solid;
    display: flex; 
}
.funcionario3{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg);
    background-size: cover;   
    width: 45px;
    height: 90px;    
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 50s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}
/*Funcionario 4*/
.caminho-funcionario4{   
    height: 150px;  
    display: flex; 
}
.funcionario4{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg); 
    background-size: cover;  
    width: 45px;
    height: 90px;     
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}
/*Funcionario 5*/
.caminho-funcionario5{   
    height: 150px;
    border: 1px solid;
    display: flex; 
}
.funcionario5{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg); 
    background-size: cover;  
    width: 45px;
    height: 90px;      
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}
/*Funcionario 6*/
.caminho-funcionario6{   
    height: 150px; 
    display: flex; 
}
.funcionario6{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg);
    background-size: cover;   
    width: 45px;
    height: 90px;      
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}
/*Funcionario 7*/
.caminho-funcionario7{   
    height: 150px;
    border: 1px solid;
    display: flex; 
}
.funcionario7{ 
    background-image: url(/img/sprite\ de\ mineiro\ parado.jpg);  
    background-size: cover; 
    width: 45px;
    height: 90px;   
    margin-left: 30px;  
    margin-top: 60px;
    display: flex;
    align-items: flex-end;    
    justify-content:center;   
    animation-name: funcionarios;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;    
}

/*Area relacionada a animação dos personagens*/
@keyframes funcionarios_andando {  
     
}

@keyframes funcionarios_mineirando {
    0%{background-image: url(/img/trabalhando_pos1.png);}
    25%{background-image: url(/img/trabalhando_pos2.png);}
    50%{background-image: url(/img/trabalhando_pos3.png);}
    75%{background-image: url(/img/trabalhando_pos4.png);}
    90%{background-image: url(/img/trabalhando_pos5.png);}
    100%{background-image: url(/img/trabalhando_pos6.png);}
    
}

@keyframes elevador {
    0%{margin-top: -150px;}
    5%{margin-top: 0px;}
    10%{margin-top: 150px;}
    15%{margin-top: 300px;}
    20%{margin-top: 450px;}
    25%{margin-top: 600px;}
    30%{margin-top: 750px;}
    35%{margin-top: 900px;}
    40%{margin-top: 1050px;}
    45%{margin-top: 1200px;}

}
